/* ---------------------------------------------------------------
Footer
--------------------------------------------------------------- */
footer {
  text-align: center;
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  nav {
    display: block;
    margin: 0 auto;
    ul {
      //   display: inline-block;
      justify-content: space-evenly;
    }
    li {
      display: inline-block;
      margin-right: 1rem;
    }
    img {
      width: 15px;
    }
  }
}
